/* unvisited link */
a:link {
    color: #000000;
}

/* unvisited link in posts */
#posts a:link {
    font-weight: bold;
}

/* unvisited link in navigations */
.nav-pills a:link, .nav a:link, .navbar-brand a:link {
    font-weight: bold;
}

/* visited link */
a:visited {
    color: #000000;
}

/* mouse over link */
a:hover {
    color: #C0C0C0;
    text-decoration: none;
}

.nav-title {
    font-weight: bold;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: #000000;
}

.footer {
    margin-top: 10px;
}

.inline-img-left {
    float: left;
    padding-top: 5px;
    padding-right: 10px;
}

.author-social {
    display: block;
}

.post {
    padding-top: 25px;
}

.panel-title {
    font-weight: bold;
}