/* unvisited link */
a:link {
    color: #000000;
}

/* visited link */
a:visited {
    color: #000000;
}

/* mouse over link */
a:hover {
    color: #C0C0C0;
    text-decoration: none;
}

.nav-title {
    font-weight: bold;
}

.footer {
    margin-top: 10px;
}

.inline-img-left {
    float: left;
    padding-top: 5px;
    padding-right: 10px;
}

.author-social {
    display: block;
}

.post {
    padding-bottom: 15px;
    padding-top: 15px;
}

.panel-title {
    font-weight: bold;
}