---
title: Blog
layout: default
---

<a name="top"></a>
<div>
    <h1>Welcome to my Blog</h1>

    <p>Welcome to my personal blog. This blog is hosted by GitHub Pages. Here I publish blog posts about different topics concerning computer science. Furthermore I will use it as a knowledge base.</p>


    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
            {% for category in site.categories %}
                <li role="presentation"><a href="#{{ category | first }}" aria-controls="{{ category | first }}" role="tab" data-toggle="tab">{{ category | first }}</a></li>
            {% endfor %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="all">
                {% for post in site.posts %}
                    {% include post-list-entry.html %}
                {% endfor %}
            </div>

            {% for category in site.categories %}
                <div role="tabpanel" class="tab-pane" id="{{ category | first }}">
                    {% for posts in category %}
                        {% for post in posts %}
                            {% if post.url %}
                                {% include post-list-entry.html %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
    </div>

    <a href='#top' class="text-center">
        <div>
            <i class="fa fa-chevron-up"></i>
        </div>
    </a>
</div>
