<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Rufers Blog</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% assign sorted_pages = (site.pages | sort: 'title' | where: 'layout', 'default') %}
                {% for nav_entry in sorted_pages %}
                    {% if page.url == nav_entry.url %}
                        <li class="active"><a href="{{nav_entry.url}}" class="active">{{nav_entry.title}}</a></li>
                    {% else %}
                        <li><a href="{{nav_entry.url}}">{{ nav_entry.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    </div>
</div>