<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        {% include disqus-comments.html %}
    </head>

    <body>
        <div id="top-nav">
            {% include top-navigation.html %}
        </div>
        <div id="container" class="container">
            <div class="row">
                <div class="col-md-2" itemscope itemtype="http://data-vocabulary.org/Person">{% include author-bio.html %}</div>
                <div class="col-md-8">{{ content }}</div>
                <div class="col-md-2">{% include right-navigation.html %}</div>
            </div>
        </div>
    </body>

    <footer class="footer text-center">
        {% include footer.html %}
    </footer>
</html>